@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir.eot");
  src: url("./../fonts/Vazir.eot") format("embedded-opentype"), url("./../fonts/Vazir.woff2") format("woff2"), url("./../fonts/Vazir.woff") format("woff"), url("./../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Bold.eot");
  src: url("./../fonts/Vazir-Bold.eot") format("embedded-opentype"), url("./../fonts/Vazir-Bold.woff2") format("woff2"), url("./../fonts/Vazir-Bold.woff") format("woff"), url("./../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Black.eot");
  src: url("./../fonts/Vazir-Black.eot") format("embedded-opentype"), url("./../fonts/Vazir-Black.woff2") format("woff2"), url("./../fonts/Vazir-Black.woff") format("woff"), url("./../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Medium.eot");
  src: url("./../fonts/Vazir-Medium.eot") format("embedded-opentype"), url("./../fonts/Vazir-Medium.woff2") format("woff2"), url("./../fonts/Vazir-Medium.woff") format("woff"), url("./../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Light.eot");
  src: url("./../fonts/Vazir-Light.eot") format("embedded-opentype"), url("./../fonts/Vazir-Light.woff2") format("woff2"), url("./../fonts/Vazir-Light.woff") format("woff"), url("./../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Thin.eot");
  src: url("./../fonts/Vazir-Thin.eot") format("embedded-opentype"), url("./../fonts/Vazir-Thin.woff2") format("woff2"), url("./../fonts/Vazir-Thin.woff") format("woff"), url("./../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  direction: rtl;
  font-size: 100%;
  font-family: Vazir;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1360px;
  padding: 2rem;
}

nav.user-header.navbar {
  background-color: #f7f7f7;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

nav.user-header.navbar div.user-header-left {
  width: 35%;
}

nav.user-header.navbar div.user-header-left nav.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  width: 100%;
}

nav.user-header.navbar div.user-header-left nav.breadcrumb ol.breadcrumb {
  background-color: #ffffff;
  width: max-content;
}

nav.user-header.navbar div.user-header-left nav.breadcrumb ol.breadcrumb a.breadcrumb-item {
  text-decoration: none;
  font-size: 90%;
}

nav.user-header.navbar div.user-header-right {
  width: 25%;
}

nav.user-header.navbar div.user-header-right div.form-group {
  text-align: right;
  margin-bottom: 0;
}

nav.user-header.navbar div.user-header-right div.form-group label {
  font-size: 85%;
  display: flex;
  text-align: right;
}

nav.user-header.navbar div.user-header-right div.form-group select:focus {
  border-color: #959aa2;
  box-shadow: 0 0 0.2rem 0.05rem rgba(119, 119, 119, 0.7);
}
/*# sourceMappingURL=DefaultPage.css.map */