@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir.eot");
  src: url("./../fonts/Vazir.eot") format("embedded-opentype"), url("./../fonts/Vazir.woff2") format("woff2"), url("./../fonts/Vazir.woff") format("woff"), url("./../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Bold.eot");
  src: url("./../fonts/Vazir-Bold.eot") format("embedded-opentype"), url("./../fonts/Vazir-Bold.woff2") format("woff2"), url("./../fonts/Vazir-Bold.woff") format("woff"), url("./../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Black.eot");
  src: url("./../fonts/Vazir-Black.eot") format("embedded-opentype"), url("./../fonts/Vazir-Black.woff2") format("woff2"), url("./../fonts/Vazir-Black.woff") format("woff"), url("./../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Medium.eot");
  src: url("./../fonts/Vazir-Medium.eot") format("embedded-opentype"), url("./../fonts/Vazir-Medium.woff2") format("woff2"), url("./../fonts/Vazir-Medium.woff") format("woff"), url("./../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Light.eot");
  src: url("./../fonts/Vazir-Light.eot") format("embedded-opentype"), url("./../fonts/Vazir-Light.woff2") format("woff2"), url("./../fonts/Vazir-Light.woff") format("woff"), url("./../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Thin.eot");
  src: url("./../fonts/Vazir-Thin.eot") format("embedded-opentype"), url("./../fonts/Vazir-Thin.woff2") format("woff2"), url("./../fonts/Vazir-Thin.woff") format("woff"), url("./../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  direction: rtl;
  font-size: 100%;
  font-family: Vazir;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1360px;
  padding: 2rem;
}

.contents {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.contents .descriptionBox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contents .descriptionBox h3 {
  width: 100%;
  margin-bottom: 2.5rem;
}

.contents .descriptionBox span {
  width: 100%;
  line-height: 1.7rem;
  text-align: right;
  color: #777;
}

.contents form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contents form .formGroup {
  margin-top: 2rem;
  text-align: right;
  width: 60%;
}

.contents form .formGroup label {
  font-size: 95%;
}

.contents form .formGroup select:focus {
  border-color: #959aa2;
  box-shadow: 0 0 0.2rem 0.05rem rgba(119, 119, 119, 0.7);
}

.contents form .button {
  width: 35%;
  font-size: 100%;
  background-color: #c70d3a !important;
  color: #ffffff;
  border: none;
}

.contents form .button:focus, .contents form .button:active {
  box-shadow: 0 0 0 0.2rem rgba(199, 13, 58, 0.5) !important;
  border: none !important;
}

.contents .HomeLink {
  font-size: 90%;
  background-color: #959aa2 !important;
  border: none;
  text-decoration: none !important;
  color: #ffffff;
  padding: .5rem;
  border-radius: 4px;
  width: 25%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents .HomeLink:hover {
  color: #000000 !important;
}

.contents .HomeLink:focus, .contents .HomeLink:active {
  box-shadow: 0 0 0 0.2rem rgba(149, 154, 162, 0.5) !important;
  border: none !important;
  text-decoration: none;
  color: #000000 !important;
}

.contents .HomeLink i {
  padding: 0 .2rem;
  font-size: 20px;
}
/*# sourceMappingURL=SelectRole.module.css.map */