@import './base';

// div.collapse {
//     width: 15%;
//     height: 100%;
//     display: flex !important;
//     justify-content: flex-start;

div.sidebar-brand-wrapper {
    width: 20%;
    height: 100%;
    @include flex-box-column;
    // position: fixed;

    div.pro-sidebar {
        width: 100%;
        // color: $color-white ;

        div.pro-sidebar-inner {
            background-color: $color-white;

            div.pro-sidebar-layout {
                overflow-y: unset;
                overflow-x: unset;
                // padding-right: 1rem;

                nav.pro-menu.shaped.circle {
                    padding: 1rem 0;

                    ul {
                        margin-bottom: 1rem;

                        li.pro-menu-item.pro-sub-menu,
                        li.pro-menu-item {
                            font-size: 90%;

                            div.pro-inner-item {
                                padding: 0;
                                align-items: center;

                                &::before {
                                    width: 5px;
                                    height: 5px;
                                }

                                span.pro-icon-wrapper {
                                    background-color: $color-blue-dark-6;

                                    span.pro-icon {
                                        i {
                                            font-size: 16px;
                                            color: $color-white;
                                        }
                                    }
                                }

                                span.pro-item-content {
                                    font-size: 95%;
                                    color: $color-black;
                                    margin-right: .5rem;
                                    overflow: visible;
                                }

                                span.pro-arrow-wrapper {
                                    position: absolute;
                                    left: 20px;
                                    right: auto;
                                    top: 30%;

                                    span.pro-arrow {
                                        border-color: $color-black;
                                    }
                                }
                            }

                            div.react-slidedown.pro-inner-list-item {
                                background-color: transparent;
                                padding-right: 20px;
                                padding-left: 0;

                                div {
                                    ul {
                                        li.pro-menu-item {
                                            div.pro-inner-item {
                                                span.pro-item-content {
                                                    font-size: 90%;

                                                    a {
                                                        color: $color-black;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// }