@import './base';

.collapse {
    width: 15%;
    height: 100%;
    display: flex !important;
    justify-content: flex-start;
    background-color: $color-light-1;

    .sidebarBrandWrapper {
        width: 100%;
        height: 100%;
        padding: 2rem 1rem 0 0;
        @include flex-box-column;

        ul {
            width: 100%;
            height: max-content;
            text-align: right;

            li {
                width: 100%;
                cursor: pointer;
                margin-right: 0;

                div {
                    width: 100%;
                    @include flex-box-default;
                    justify-content: flex-start;

                    i {
                        margin-left: 1rem;
                    }

                    span {
                        font-size: 90%;
                        cursor: pointer;

                        &:focus {
                            text-shadow: 2px 2px 1px $color-light-3;
                        }
                    }

                    svg {
                        font-size: 16px;
                        position: absolute;
                        right: 13.5%;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}

// div.pro-sidebar {
//     width: 100% !important;
//     margin-left: 0 !important;
//     text-align: right !important;
//     color: $color-white !important;

//     div.pro-sidebar-inner{
//         background-color: $color-light-3;
//     }
// }